.game{
    margin:auto;
    margin-top: 100px;
}
h2 {
    width: 100%;
    font-weight: 500;
    color: #f5f5f5bf;
    font-size: 26px;
    margin-bottom: 10px;
}
.field{
    width:600px;
    height:600px;
    background-color:#333333;
    border: 10px solid #333333;
    border-radius: 10px;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
    margin-top:40px;
    outline: 1px solid #636363;
}

.field-row{
    width:100%;
    height:calc(20% + 20px);
    display: flex;
    justify-content: space-between;
}

.block{
    box-sizing: border-box;
    width:calc(20% + 20px);
    height:100%;
    background-color: #262626;
    border-radius:5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number{
    width:100%;
    height:100%;
    border-radius: 5px;        
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color:#3c3c3c;
    color:rgb(255, 0, 0); 
    font-weight: 300;
    font-size: 50px;
    text-shadow: 1px 1px 20px  #ff0000b7;
    border:2px solid rgb(255, 0, 0);
    border-radius:5px;
    box-shadow: 1px 1px 10px  #ff0000b7;
}

.number2{
    color:#ffffff;
    font-size: 70px;
    text-shadow: 1px 1px 20px  #ffffffd5;
    border-color: #ffffff;
    box-shadow: 1px 1px 10px  #ffffffad;
}
.number4 {
    color: #c2ffbc;
    font-size: 70px;
    text-shadow: 1px 1px 20px  #c2ffbcad;
    border-color: #c2ffbc;
    box-shadow: 1px 1px 10px  #c2ffbcad;
}
.number8 {
    color: #37c52a;
    font-size: 70px;
    text-shadow: 1px 1px 20px  #2dce1ead;
    border-color: #2dce1ead;
    box-shadow: 1px 1px 10px  #2dce1ead;
}
.number16 {
    color:#8ac52a;
    font-size: 70px;
    text-shadow: 1px 1px 20px #8ac52ad5;
    border-color: #8ac52ad5;
    box-shadow: 1px 1px 10px  #8ac52ad5;
}
.number32 {
    color:#d2dd31;
    font-size: 70px;
    text-shadow: 1px 1px 20px #b6ff41d5;
    border-color: #b6ff41d5;
    box-shadow: 1px 1px 10px  #b6ff41d5;
}
.number64 {
    color:#ffcd42;
    font-size: 70px;
    text-shadow: 1px 1px 20px #ffcb3dd3;
    border-color: #ffcb3dd3;
    box-shadow: 1px 1px 10px  #ffcb3dd3;
}
.number128 {
    color:#ff8827;
    font-size: 55px;
    text-shadow: 1px 1px 20px #ff7300d2;
    border-color: #ff7300d2;
    box-shadow: 1px 1px 10px  #ff7300d2;
}
.number256 {
    color:#ff6b3e;
    font-size: 55px;
    text-shadow: 1px 1px 30px #ff6b3e;
    border-color: #ff6b3e;
    box-shadow: 1px 1px 10px  #ff6b3e;
}
.number512 {
    color:#ff443e;
    font-size: 55px;
    text-shadow: 1px 1px 20px #ff443e;
    border-color: #ff443e;
    box-shadow: 1px 1px 10px  #ff443e;
}

.new-number{
    animation-name: show;
    animation-duration: 300ms;
    animation-timing-function:ease;
}
.sum{
    animation-name: sum;
    animation-duration: 500ms;
    animation-timing-function:ease;
}

@keyframes show{
    0%{
        width:0%;
        height: 0%;
        font-size: 0vw;
    }
    100%{
        width: 100%;
        height: 100%;
        font-size: 70px;
    }
}

@keyframes sum{
    0%{
        box-shadow:1px 1px 0px;
    }
    50%{
        box-shadow:1px 1px 50px;
    }
    90%{
        box-shadow:1px 1px 100px;
    }
    90%{
        box-shadow:1px 1px 0px;
    }
}

.rules-container{
    width: 700px;
    margin: auto;
    margin-top: 100px;
    font-size: 26px;
    color:#a3a3a3;
    line-height: 40px;
}
.rules-container h2{
    font-size: 30px;
}
.rules-container h2::after{
    content: "";
    width: 300px;
    height: 2px;
    margin-top:10px;
    border-radius: 1px;
    display: block;
    background:rgb(218, 218, 218);
}

@media (width>1200px) {
}

