.loose{
    top: 214px;
    width:600px;
    height:600px;
    left: 50%;
    transform:translate(-50%, 0%);
    margin-top: 20px;
    background-color: #2a2a2a88;
    color:#ffffff;
    font-size: 50px;
    position: absolute;
    animation-name: showModal;
    animation-duration:0.5s;
    animation-fill-mode: both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:100px;
    border-radius:10px;
    user-select: none;
    margin-top:20px;
}

.loose h2{
    font-weight: 400;
}

.loose button{
    width:180px;
    height: 60px;
    background-color: #2a2a2a;
    border-radius:5px;
    font-size: 26px;
    color:white;
    cursor: pointer;
    border:none;
    transition-duration: 100ms;
    min-width: 100px;
    min-height: 40px;
    font-family: Roboto;
}

.loose button::first-letter{
    text-transform: uppercase;
}

.loose button:hover{
    background-color: #313131;
}


.modal{
    position: absolute;
}

@keyframes showModal {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}