@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.control-panel{
    width:600px;
    height:150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
    justify-content: space-between;
}
.score-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 60px;
    width: auto;
    height: 100%;
    justify-content: space-between;
}
.score{
    background-color:#2a2a2a;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 10px;
    padding: 0 50px;
    height: 60px;
    font-weight: 400;
    font-size: 26px;
    outline: 1px solid #636363;
}
.reverse-button-container{
    display: flex;
    height: 100%;
    width: auto;
    flex-direction: column;
    justify-content: space-between;
}
.reverse-button-container h1{
    font-size: 80px;
    width: 100%;
    line-height: 60px;
    text-align: center;
}
.restart button{
    background-color:#2a2a2a;
    border-radius:10px;
    width: 189px;
    height: 60px;
    border:none;
    font-family: Roboto;
    font-weight: 400;
    color:white;
    font-size: 26px;
    cursor:pointer;
    transition-duration: 100ms;
    outline: 1px solid #636363;
}
.restart button:focus{
    outline: 1px solid #ffffff;
}
.restart button:active {
    outline: 1px solid #636363;
}
.restart button::first-letter{
    text-transform: uppercase;
}
.control-panel button:hover{
    background-color:#2e2e2e;
    color:rgb(255, 255, 255);
}

.score .difference{
    position: absolute;
    animation-name:showDifference;
    animation-duration:500ms;
    animation-fill-mode:both;
    animation-timing-function: ease-in;
    color:rgb(87, 78, 48);
    color:rgba(255, 255, 255, 0.884);
    font-weight: 100;
    margin-left:100px;
}

@keyframes showDifference{
    0%{
        margin-bottom: 10px;
    }
    90%{
        opacity:0%;
    }
    100%{
        margin-bottom: 200px;
        opacity:0%;
    }
}